@media (max-width: 825px){
    .collapsed{
        display: none;
    }
    .playerScreen{
        flex: 1 0 100%;
        .largeButtons button{
            width: 55%;
        }
    }
    .info{
        right: 100px;
    }
    .darkMode{
        right: 55px;
    }
    .popOut{
        display: block;
    }
    .gameScreen .effectScreen{
        width: 100%;
    }
}