

.darkMode{
    right: 30px;
    bottom: 20px;
}
.info{
    right: 80px;
    bottom: 20px;
}
.playerScreen{
    flex: 0 0 30%;
    height: 100vh;
    .wrapper{
        width: 85%;
        height: 93vh;
    }
    .popOut{
        right: 60px;
        left: auto;
    }
    .info, .darkMode{
    position: absolute;
    padding: 0;
    width: 30px;
    height: 30px;
    @include pixelBorder(1px, $black, $white);
    &:enabled:hover{
        @include pixelBorder(1px, $white, $black);
    }
    .dark &{
        @include pixelBorder(1px, $white, $black);
        &:enabled:hover{
            @include pixelBorder(1px, $black, $white);
        }
    }
}
}
.playerImg, .enemyImg{
    height: 200px;
    width: 200px;
}
.playerInfo, .infoLabel{
    flex: 1 0 100%;
    margin: 5px;
}
.playerStats{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .unchangingStat{
        flex: 1 0 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 30px;
    }
}

.dynamicStats{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 30px;
    width: 100%;
}
.largeButtons button{
    width: 90%;
    background-color: transparent;
    @include pixelBorder(4px, $black, $white);
    &:enabled:hover{
        @include pixelBorder(4px, $white, $black);
        background-color: $black;
        color: $white;
    }
    .dark &{
        background-color: transparent;
        @include pixelBorder(4px, $white, $black);
        &:enabled:hover{
            background-color: $white;
            color: black;
            @include pixelBorder(4px, $black, $white);
        }
    }
}
.adjustableStat{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3{
        text-transform: uppercase;
        flex: 0 0 33%;
    }
    button{
        @include pixelBorder(1px, $black, $white);
        &:enabled:hover{
            @include pixelBorder(1px, $white, $black);
        }
        .dark &{
            @include pixelBorder(1px, $white, $black);
            &:enabled:hover{
                @include pixelBorder(1px, $black, $white);
            }
        }
    }
}