
.borderBlock{
    @include pixelBorder(4px, $black, $white);
}
.dark .borderBlock{
    @include pixelBorder(4px, $white, $black)
}
.textBlock{
    width: 92%;
    margin: 0 auto;
    .wrapper{
        height: 25vh;
    }
}
.blockText{
    display: flex;
    flex-wrap: wrap;
    p{
        margin: 7px 0;
        flex: 1 0 100%;
    }
}